NUnit Tests/TestDocs/TestSchema.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coolguy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sunglasses" type="xs:string" />
        <xs:element name="frostedtips" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>